{{ define "main"}}
<section class="main">
  <div class="feature-container">
    <h2>Kearns 7th Ward Live Streaming</h2>
    <!-- <a href="https://www.youtube.com/embed/live_stream?channel=UCr60hSNDcJFuOkBm21s60Ow&autoplay=1"> -->
    <!-- <a href="https://www.youtube.com/channel/UCr60hSNDcJFuOkBm21s60Ow/live"> -->
    <a href="{{ .Params.sacramentURL }}">
      <div class="feature">
        <div class="play-button">
          <div class="play-button-arrow"></div>
        </div>
        <div class="feature-text">
          <h1>Join Us for Sacrament Meeting</h1>
          <p>Click to open the YouTube stream</p>
        </div>
      </div>
    </a>
  </div>
</section>

<section class="classes">
  <h2>Second Hour Zoom Meetings (November 29, 2020)</h2>
  <div class="class-container">
    <div class="class">
      <h3>Combined Youth & Adult Lesson</h3>
      <p>5th Sunday @ 12:45 PM</p>
      <a href="https://us02web.zoom.us/j/8269689370">Click to Join Meeting</a>
    </div>
  </div>
  <div class="class-container">
    <div class="class">
      <h3>Teacher's Council</h3>
      <p>5th Sunday @ 1:20 PM</p>
      <a href="https://us02web.zoom.us/j/8269689370">Click to Join Meeting</a>
    </div>
  </div>
</section>
{{ end }}