{{ define "main"}}
<section class="main">
  <div class="feature-container">
    <h1>Join Us for Sacrament Meeting</h1>
    <p>Click to open the stream via our YouTube channel.</p>
    <a href="{{ .Params.sacramentURL }}">
      <div class="feature">
        <div class="play-button">
          <div class="play-button-arrow"></div>
        </div>
      </div>
    </a>
  </div>
</section>

<section class="classes">
  <h2>Scheduled Zoom Meetings</h2>
  <div class="class-container">
    <div class="class hidden">
      <h3>Sunday School</h3>
      <p>1st & 3rd Sundays @ 10:15 AM</p>
      <a href="{{ .Params.ssURL }}">Click to Join Meeting</a>
    </div>
    <div class="class hidden">
      <h3>Primary Singing Time</h3>
      <p>1st & 3rd Sundays @ 11:00 AM</p>
      <a href="{{ .Params.pURL }}">Click to Join Meeting</a>
    </div>
    <div class="class">
      <h3>Combined Youth Cooking Activity</h3>
      <p>March 24th @ 5:00 PM</p>
      <a href="{{ .Params.ymywURL }}">Click to Join Meeting</a>
    </div>
    <div class="class">
      <h3>Combined YM & YW</h3>
      <p>2nd & 4th Sundays @ 10:15 AM</p>
      <a href="{{ .Params.ymywURL }}">Click to Join Meeting</a>
    </div>
    <div class="class">
      <h3>Combined Relief Society and Elder's Quorum</h3>
      <p>2nd & 4th Sundays @ 10:50 AM</p>
      <a href="{{ .Params.rseqURL }}">Click to Join Meeting</a>
    </div>
    <div class="class hidden">
      <h3>Combined Ward Lesson</h3>
      <p>5th Sunday @ 10:15 AM</p>
      <a href="{{ .Params.blURL }}">Click to Join Meeting</a>
    </div>
    <div class="class hidden">
      <h3>Teacher's Council</h3>
      <p>5th Sunday @ 10:50 AM</p>
      <a href="{{ .Params.tcURL }}">Click to Join Meeting</a>
    </div>
  </div>
</section>
{{ end }}